<div class="row">
  <div class="col-md-6">
    <div class="panel-success">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Lists</h4>
        </div>
        <div class="panel-body">
          <ul>
            <% @lists.each() do |list| %>
                <li><a href="/lists/<%= list.id() %>"><%= list.name() %></a></li>
              <% end %>
          </ul>
          <hr>
          <form action="/lists" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input class="form-control" type="text" name="name">
            </div>
            <div class="btn-group">
              <button class="btn btn-success" type="submit">Add List</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel-success">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Tasks</h4>
        </div>
        <div class="panel-body">
          <p>Here are all your tasks:</p>
          <% @tasks.each() do |task| %>
              <li><%= task.description %> <a href="/tasks/<%= task.id() %>/edit">Update</a></li>
            <% end %>
          <p>Here are all your tasks that's need to be done:</p>
          <ul>
            <% @tasks.not_done().each do |task| %>
              <li><%= task.description %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
